:root {
  box-sizing: border-box;
  background: url('./assets/nebula.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  margin: 10vh 0 0;
  padding: 0;
  height: 90vh;
  overflow: auto;
}

#root {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  overflow: auto;
}

.card {
  border: 1px solid black;
  width: 90%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0.25rem 0.125rem black;
  min-height: 30vh;
  flex: 1;
  background: purple;
  color: white;
  margin: 0 auto;
}

.nav-link {
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  text-decoration: none;
}

#nav,
#footer {
  z-index: 10;
  bottom: 10;
  background: #333;
  left: 0;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav {
  position: fixed;
  top: 0;
  height: 10vh;
  justify-content: space-evenly;
  border-bottom: 1px solid white;
}

#footer {
  bottom: 0;
  height: 50vh;
  margin-top: 0.5rem;
  border-top: 1px solid white;
}

.footer-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
