* {
  user-select: none;
}

#theme,
#menu-btn {
  cursor: pointer;
}

#theme:hover,
#menu-btn:hover {
  transform: scale(0.95);
}

#theme {
  color: var(--theme-color);
  font-size: 5rem;
}

#menu-btn {
  border: 3px solid var(--nav-text);
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-size: 6rem;
}

#menu-btn:active {
  box-shadow: inset 0 0 0.25rem var(--background);
  transform: scale(0.95);
}

#nav,
#footer {
  background-color: var(--background-nav-footer);
  z-index: 10;
  left: 0;
  display: flex;
  color: var(--nav-text);
}

#page-title {
  color: var(--nav-color);
}

#nav {
  position: fixed;
  top: 0;
  padding: 1rem 4%;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  height: 100%;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--nav-color);
  cursor: pointer;
}

#footer {
  padding: 1.5rem 0;
  color: var(--nav-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 1rem 0 0 0;
  height: 10rem;
}

#menu {
  position: absolute;
  left: 2.5%;
  min-width: 95%;
  border: 1px solid var(--card-text);
  border-radius: 10px;
  z-index: 11;
}

div.modal-header,
div.modal-body,
div.modal-footer {
  background: var(--background);
  color: var(--card-text);
}

.modal-title.h4 {
  font-size: 5rem;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.modal-body {
  height: 66vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-evenly;
  font-size: 4rem;
  text-decoration: none;
  color: var(--card-text);
}

div.modal-footer {
  height: 10vh;
}

.flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
