* {
  user-select: none;
}

.light {
  --bg-url: url('./assets/clouds.png');
  --nav-border: 1px solid black;
  --nav-text: lightblue;
  --background: lightblue;
  --background-nav-footer: navy;
  --theme-color: orange;
  --card-text: #333;
}

.dark {
  --bg-url: url('./assets/nebula.png');
  --nav-border: 1px solid white;
  --nav-text: #99f;
  --background: #333;
  --background-nav-footer: #444;
  --theme-color: #99f;
  --card-text: #fff;
}

#root,
body {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

#root {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

main {
  flex: 1;
}

body {
  margin: 12.5vh 0 0;
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 1rem;
  min-height: 86vh;
}

.card {
  border: 1px solid black;
  width: 90%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0.25rem 0.25rem black;
  background: var(--background);
  color: var(--card-text);
  margin: auto;
}

.card-half {
  width: 45%;
}

.card-title {
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}

.card-body {
  font-size: 2rem;
}

.row {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
