* {
  user-select: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.light {
  --bg-url: url('./assets/clouds.png');
  --nav-border: 1px solid black;
  --nav-text: lightblue;
  --background: lightblue;
  --background-nav-footer: navy;
  --theme-color: orange;
  --card-title-alt: lightblue;
  --card-text: navy;
}

.dark {
  --bg-url: url('./assets/nebula.png');
  --nav-border: 1px solid white;
  --nav-text: aqua;
  --background: #333;
  --background-nav-footer: #444;
  --theme-color: aqua;
  --card-title-alt: aqua;
  --card-text: aqua;
}

#root,
body {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

#root {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

main {
  flex: 1;
}

body {
  margin: 12.5vh 0 0;
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

div.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 9rem;
  min-height: 86vh;
  min-width: 100%;
}

div.card {
  border: 1px solid black;
  padding: 2%;
  width: 95%;
  border-radius: 25px;
  box-shadow: 0 0.5rem 0.5rem black;
  background: var(--background);
  color: navy;
  margin: auto;
}

.card-title.h5 {
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
  color: var(--card-text);
}

.card-subtitle.h6 {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  color: var(--card-text);
}

.card-body {
  font-size: 2rem;
}

.card-text {
  font-size: 2rem;
  color: var(--card-text);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

div.carousel-indicators {
  position: relative;
  top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
}

div.carousel-indicators [data-bs-target] {
  background: var(--card-text);
  height: 1.5rem;
  width: 25%;
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
