.light {
  --bg-url: url('./assets/clouds.png');
  --nav-link-color: blue;
  --nav-border: 1px solid black;
  --background: lightblue;
  --theme-color: orange;
  --card-text: #333;
}

.dark {
  --bg-url: url('./assets/nebula.png');
  --nav-border: 1px solid white;
  --background: #333;
  --theme-color: lightblue;
  --card-text: #fff;
}

#root,
body {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
}

#root {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

main {
  flex: 1;
}

body {
  margin: 14vh 0 0;
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.card {
  border: 1px solid black;
  width: 90%;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 0 0.25rem 0.25rem black !important;
  background: var(--background);
  color: var(--card-text);
  margin: 1rem auto;
}

.card-title {
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}

.modal-title {
  color: var(--nav-color);
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
